/* You can add global styles to this file, and also import other style files */
@import "../node_modules/medium-editor/dist/css/medium-editor.min.css";
@import "../node_modules/medium-editor/dist/css/themes/default.min.css";
@import "../node_modules/quill/dist/quill.core.css";

.medium-editor-element:focus-visible {
  outline: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ql-editor {
  padding: 12px 30px;
  min-height: 20rem;
}

.text-title {
  display: none;
}

.ql-editor::before {
  left: 30px !important;
  right: 30px !important;
}

.ql-container .text-title {
  display: unset;
  width: 100%;
  margin-top: 12px;
  padding: 0 30px;
  border: none;
  height: 2rem;
  font-size: 1.5rem;
}

.ql-container .text-title:focus-visible {
  outline: none;
}

.image {
  width: 40%;
  height: auto;
}
