/* You can add global styles to this file, and also import other style files */
@import "../node_modules/medium-editor/dist/css/medium-editor.min.css";
@import "../node_modules/medium-editor/dist/css/themes/default.min.css";
@import "../node_modules/quill/dist/quill.core.css";

.medium-editor-element:focus-visible {
  outline: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}
