.data-table {
  max-height: 45rem;
  margin: 2rem;
  overflow: auto;
}

th,
td {
  border-right-color: var(
    --mat-table-row-item-outline-color,
    rgba(0, 0, 0, 0.12)
  );
  border-right-style: solid;
  text-align: center;
  border-width: 1px;
  white-space: nowrap;
}

.revenue-surge {
  background-color: #2ef32e;
}

.extreme-profit-drop {
  background-color: red;
}

.identical-income-and-expenses {
  background-color: yellow;
}

.data-not-captured {
  background-color: grey;
}

.btn-chatGPT {
  margin-left: 2rem;
}
